@charset "UTF-8";
.home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.home-wrapper .overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.home-wrapper .overlay.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-wrapper .overlay .modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: .5em;
}

.home-wrapper .overlay .modal-box.hidden {
  display: none;
}

.home-wrapper .overlay .modal-box .modal-header {
  padding: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #333333;
}

.home-wrapper .overlay .modal-box .modal-header .modal-header__title {
  font-size: 1.1em;
}

.home-wrapper .overlay .modal-box .modal-header .close-modal-icon {
  width: 1.1em;
  cursor: pointer;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1em;
  border-bottom: 1px solid #333333;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .error-message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F44336;
  width: 100%;
  padding: .6em;
  padding-right: 1em;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: .2em;
  margin-bottom: 1em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .error-message-box.hidden {
  display: none;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .error-message-box .error-message {
  color: #FFFFFF;
  font-size: 1em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .error-message-box .close-message-icon {
  cursor: pointer;
  margin-left: 1em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row input {
  margin: 0;
  font-size: .9em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row #new-task {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  resize: none;
  outline: none;
  width: inherit;
  border-radius: .2em;
  font-size: 1em;
  padding: .6em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row #new-task::-webkit-input-placeholder {
  color: #333333;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row #new-task:-ms-input-placeholder {
  color: #333333;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row #new-task::-ms-input-placeholder {
  color: #333333;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row #new-task::placeholder {
  color: #333333;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row.modal-content-special-row {
  font-size: .8em;
  margin-top: 1em;
  margin-bottom: 0;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row.modal-content-special-row .list-reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row.modal-content-special-row .list-reference .box-rounded {
  margin-right: .5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row.modal-content-special-row .list-reference .box-rounded.list-not-selected {
  background-color: #03A9F4;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content-row.modal-content-special-row .list-reference .box-rounded.list-selected {
  background-color: #1565c0;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .task-list-items-wrapper {
  margin-top: 1em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .task-list-items-wrapper .task-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .task-list-items-wrapper .task-list-items .task-list-item {
  list-style: none;
  margin-right: .5em;
  background-color: #03A9F4;
  color: #FFFFFF;
  padding: .6em 1em;
  border-radius: 2em;
  cursor: pointer;
  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
  will-change: background-color;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .task-list-items-wrapper .task-list-items .task-list-item:hover {
  background-color: #1565c0;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .task-list-items-wrapper .task-list-items .task-list-item.disabled {
  background-color: #BBBBBB;
  color: #000000;
  -webkit-transition: none;
  transition: none;
  text-decoration: line-through;
  cursor: initial;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .task-list-items-wrapper .task-list-items .task-list-item.selected {
  background-color: #1565c0;
  font-weight: bold;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content__column .modal-content__column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 1em;
  height: 4.5em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content__column .modal-content__column-item:nth-last-child(1) {
  margin: 0;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content__column .modal-content__column-item label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-content .modal-content__column .modal-content__column-item input {
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: 0;
  padding: 0.65em;
  border-radius: .5em;
  font-size: .8em;
  font-family: inherit;
  background-color: #EEEEEE;
}

.home-wrapper .overlay .modal-box .modal-form .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.home-wrapper .overlay .modal-box .modal-form .modal-footer button {
  padding: 1em 0;
  border-radius: 0;
}

.home-wrapper .overlay .modal-box .modal-form .modal-footer button:disabled {
  background-color: #BBBBBB;
  color: #000000;
  -webkit-transition: none;
  transition: none;
  cursor: initial;
}

.home-wrapper .overlay .modal-box .modal-form .modal-footer .btn-cancel {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom-left-radius: .5em;
}

.home-wrapper .overlay .modal-box .modal-form .modal-footer .btn-ok {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-bottom-right-radius: .5em;
}

.home-wrapper .left-menu-home {
  background-color: #1976D2;
}

.home-wrapper .left-menu-home .left-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 2em;
  height: 100vh;
  width: 19vw;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .brand-logo {
  cursor: pointer;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .brand-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .brand-logo a img {
  width: 3em;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .brand-logo a h1 {
  padding: 0 .6em;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .left-menu-vertical-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4em;
  position: relative;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .left-menu-vertical-space button {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  right: -2.75em;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .left-menu__items-wrapper .left-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .left-menu__items-wrapper .left-menu__items .left-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  padding: .8em;
  height: 8em;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__top-content .left-menu__items-wrapper .left-menu__items .left-menu__item .left-menu__item-header {
  margin-bottom: 1em;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content button span#btn-username-text {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu {
  display: block;
  background-color: #CCCCCC;
  position: absolute;
  left: 11em;
  opacity: 0;
  bottom: 2em;
  border-radius: .3em;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  will-change: opacity;
  z-index: 1;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu.active {
  opacity: 1;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu.hidden {
  display: none;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu .user-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu .user-menu__items .user-menu__item {
  list-style: none;
  color: #000000;
  padding: .9em;
  font-size: .9em;
  cursor: pointer;
  border-radius: .3em;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  will-change: background-color;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu .user-menu__items .user-menu__item:hover {
  background-color: #aaaaaa;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu .user-menu__items .user-menu__item.user-menu__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #000000;
  color: #FFFFFF;
  border-radius: .3em;
  cursor: inherit;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu .user-menu__items .user-menu__item.user-menu__item-header #user-username {
  font-size: 1em;
  margin-bottom: .2em;
}

.home-wrapper .left-menu-home .left-menu-container .left-menu__bottom-content .user-menu .user-menu__items .user-menu__item.user-menu__item-header #user-email {
  font-size: .9em;
}

.home-wrapper .main-container-home-wrapper {
  background-color: #EEEEEE;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}

.home-wrapper .main-container-home-wrapper .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2em 3em;
  height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header {
  height: calc(8em + 4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header #btn-open-modal-add-task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .8em;
  width: 10em;
  height: 2.8em;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header #btn-open-modal-add-task-list.hidden {
  display: none;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header #btn-open-modal-add-task-list.disabled {
  background-color: #BBBBBB;
  -webkit-transition: none;
  transition: none;
  cursor: initial;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header #btn-open-modal-add-task-list img {
  width: 1em;
  height: 1em;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header .success-message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #66BB6A;
  padding: .6em;
  padding-right: 1em;
  border-radius: .2em;
  position: absolute;
  right: 3em;
  -webkit-animation-name: successMessage;
  animation-name: successMessage;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header .success-message-box.hidden {
  display: none;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header .success-message-box .success-message {
  color: #FFFFFF;
  font-size: 1em;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__header .success-message-box .close-message-icon {
  cursor: pointer;
  margin-left: 1em;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content {
  height: calc(100vh - (12em + 8px));
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper {
  height: 100%;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .no-lists-created {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  border: 1px dashed #0A0A0A;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .no-lists-created.hidden {
  display: none;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .no-lists-created .icon {
  margin: .4em;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items.hidden {
  display: none;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item {
  list-style: none;
  width: 20%;
  margin-right: 1em;
  border-radius: .2em;
  height: inherit;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item:nth-last-child(1) {
  margin-right: 0;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.1em;
  background-color: #1976D2;
  border-radius: .2em .2em 0 0;
  color: #FFFFFF;
  width: 100%;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__header .task-list__name {
  text-transform: uppercase;
  font-weight: bold;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__header img {
  cursor: pointer;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper {
  background-color: #DDDDDD;
  padding: 0;
  border-radius: 0 0 .2em .2em;
  max-height: calc(100% - 3.4em);
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: .9em;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items {
  padding: 0.8em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  /* Tamaño del scroll */
  /* Estilos barra (thumb) de scroll */
  /* Estilos track de scroll */
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items::-webkit-scrollbar-thumb:active {
  background-color: #999;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items::-webkit-scrollbar-track:hover, .home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items .task-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: .6em 1em;
  margin-bottom: 0.8em;
  background-color: #EEEEEE;
  border-radius: .2em;
  font-size: .9em;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
  will-change: background-color;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items .task-list__item.hidden {
  display: none;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items .task-list__item:hover {
  background-color: #CCCCCC;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items .task-list__item.task-list__item-task-done {
  background-color: #4CAF50;
  color: #FFFFFF;
  -webkit-box-shadow: 0 2px 0 #00701a;
  box-shadow: 0 2px 0 #00701a;
  font-weight: bold;

  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
  will-change: background-color;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items .task-list__item.task-list__item-task-done {
  background-color: #4CAF50;
  color: #FFFFFF;

  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
  will-change: background-color;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items .task-list__item.task-list__item-task-done:hover {
  background-color: #43a047;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__items .task-list__item:nth-last-child(1) {
  margin-bottom: 0;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__item-add-new-task {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 0.8em;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__item-add-new-task.hidden {
  display: none;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__item-add-new-task #btn-open-modal-add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .6em;
  width: inherit;
  color: #555555;
}

.home-wrapper .main-container-home-wrapper .main-container .main-container__content .main-container__content-items-wrapper .main-container__content-items .main-container__content-item .task-list__items-wrapper .task-list__item-add-new-task #btn-open-modal-add-task img {
  margin-right: .6em;
}

@-webkit-keyframes successMessage {
  0% {
    opacity: 0;
    top: -2em;
  }
  20% {
    opacity: 1;
    top: 2em;
  }
  80% {
    opacity: 1;
    top: 2em;
  }
  100% {
    opacity: 0;
    top: -2em;
  }
}

@keyframes successMessage {
  0% {
    opacity: 0;
    top: -2em;
  }
  20% {
    opacity: 1;
    top: 2em;
  }
  80% {
    opacity: 1;
    top: 2em;
  }
  100% {
    opacity: 0;
    top: -2em;
  }
}
/*# sourceMappingURL=home.css.map */