.home-wrapper {
  display: flex;
  height: 100vh;
  .overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    &.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .modal-box {
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      border-radius: .5em;
      &.hidden {
        display: none;
      }
      .modal-header {
        padding: 1.1em;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #333333;
        .modal-header__title {
          font-size: 1.1em;
        }
        .close-modal-icon {
          width: 1.1em;
          cursor: pointer;
        }
      }
      .modal-form {
        .modal-content {
          display: flex;
          padding: 1.1em;
          border-bottom: 1px solid #333333;
          .error-message-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #F44336;
            width: 100%;
            padding: .6em;
            padding-right: 1em;
            align-self: center;
            border-radius: .2em;
            margin-bottom: 1em;
            &.hidden {
              display: none;
            }
            .error-message {
              color: #FFFFFF;
              font-size: 1em;
            }
            .close-message-icon {
              cursor: pointer;
              margin-left: 1em;
            }
          }
          .modal-content-row {
            display: flex;
            margin-bottom: 1em;
            input {
              margin: 0;
              font-size: .9em;
            }
            #new-task {
              background-color: #FFFFFF;
              border: 1px solid #CCCCCC;
              resize: none;
              outline: none;
              width: inherit;
              border-radius: .2em;
              font-size: 1em;
              padding: .6em;
              &::placeholder {
                color: #333333;
              }
            }
            &.modal-content-special-row {
              font-size: .8em;
              margin-top: 1em;
              margin-bottom: 0;
              .list-reference {
                display: flex;
                align-items: center;
                margin-left: 1em;
                .box-rounded {
                  margin-right: .5em;
                  width: 1em;
                  height: 1em;
                  border-radius: 50%;
                  &.list-not-selected {
                    background-color: #03A9F4;
                  }
                  &.list-selected {
                    background-color: #1565c0;
                  }
                }
              }
            }
          }
          .task-list-items-wrapper {
            margin-top: 1em;
            .task-list-items {
              display: flex;
              .task-list-item {
                list-style: none;
                margin-right: .5em;
                background-color: #03A9F4;
                color: #FFFFFF;
                padding: .6em 1em;
                border-radius: 2em;
                cursor: pointer;
                transition: background-color .5s ease-in;
                will-change: background-color;
                &:hover {
                  background-color: #1565c0;
                }
                &.disabled {
                  background-color: #BBBBBB;
                  color: #000000;
                  transition: none;
                  text-decoration: line-through;
                  cursor: initial;
                }
                &.selected {
                  background-color: #1565c0;
                  font-weight: bold;
                }
              }
            }
          }
          .modal-content__column {
            .modal-content__column-item {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              margin-bottom: 1em;
              height: 4.5em;
              &:nth-last-child(1) {
                margin: 0;
              }
              label {
                display: block;
                text-transform: uppercase;
                margin-bottom: 1em;
              }
              input {
                color: #000000;
                -webkit-appearance: none;
                appearance: none;
                border: none;
                outline: 0;
                // width: 50%;
                padding: 0.65em;
                border-radius: .5em;
                font-size: .8em;
                font-family: inherit;
                background-color: #EEEEEE;
              }
            }
          }
        }
        .modal-footer {
          display: flex;
          flex: 2;
          button {
            padding: 1em 0;
            border-radius: 0;
            &:disabled {
              background-color: #BBBBBB;
              color: #000000;
              transition: none;
              cursor: initial;
            }
          }
          .btn-cancel {
            flex: 1;
            border-bottom-left-radius: .5em;
          }
          .btn-ok {
            flex: 2;
            border-bottom-right-radius: .5em;
          }
        }
      }
    }
  }
  .left-menu-home {
    background-color: #1976D2;
    .left-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #FFFFFF;
      padding: 2em;
      height: 100vh;
      width: 19vw;
      .left-menu__top-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .brand-logo {
          cursor: pointer;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            img {
              width: 3em;
            }
            h1 {
              padding: 0 .6em;
            }
          }
        }
        .left-menu-vertical-space {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 4em;
          position: relative;
          button {
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            position: absolute;
            right: -2.75em;
          }
        }
        .left-menu__items-wrapper {
          .left-menu__items {
            display: flex;
            flex-direction: column;
            .left-menu__item {
              display: flex;
              flex-direction: column;
              list-style: none;
              padding: .8em;
              height: 8em;
              .left-menu__item-header {
                margin-bottom: 1em;
              }
            }
          }
        }
      }
      .left-menu__bottom-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3em;
          height: 3em;
          border-radius: 50%;
          cursor: pointer;
          span#btn-username-text {
            font-size: 1.3em;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
        .user-menu {
          display: block;
          background-color: #CCCCCC;
          position: absolute;
          right: -10.6em;
          opacity: 0;
          bottom: 0;
          border-radius: .3em;
          transition: opacity .5s ease-in-out;
          will-change: opacity;
          z-index: 1;
          &.active {
            opacity: 1;
          }
          &.hidden {
            display: none;
          }
          .user-menu__items {
            display: flex;
            flex-direction: column;
            width: max-content;
            .user-menu__item {
              list-style: none;
              color: #000000;
              padding: .9em;
              font-size: .9em;
              cursor: pointer;
              border-radius: .3em;
              transition: background-color .3s ease-in-out;
              will-change: background-color;
              &:hover {
                background-color: #aaaaaa;
              }
              &.user-menu__item-header {
                display: flex;
                flex-direction: column;
                background: #000000;
                color: #FFFFFF;
                border-radius: .3em;
                cursor: inherit;
                #user-username {
                  font-size: 1em;
                  margin-bottom: .2em;
                }
                #user-email {
                  font-size: .9em;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-container-home-wrapper {
    background-color: #EEEEEE;
    flex: 1;
    height: 100%;
    .main-container {
      display: flex;
      flex-direction: column;
      padding: 2em 3em;
      height: 100vh;
      flex: 1;
      .main-container__header {
        height: calc(8em + 4px);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        #btn-open-modal-add-task-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: .8em;
          width: 10em;
          height: 2.8em;
          &.hidden {
            display: none;
          }
          &.disabled {
            background-color: #BBBBBB;
            transition: none;
            cursor: initial;
          }
          img {
            width: 1em;
            height: 1em;
          }
        }
        .success-message-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #66BB6A;
          padding: .6em;
          padding-right: 1em;
          border-radius: .2em;
          position: absolute;
          right: 3em;
          animation-name: successMessage;
          animation-iteration-count: 1;
          animation-duration: 6s;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
          &.hidden {
            display: none;
          }
          .success-message {
            color: #FFFFFF;
            font-size: 1em;
          }
          .close-message-icon {
            cursor: pointer;
            margin-left: 1em;
          }
        }
      }
      .main-container__content {
        height: calc(100vh - (12em + 8px));
        .main-container__content-items-wrapper {
          height: 100%;
          .no-lists-created {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: inherit;
            border: 1px dashed #0A0A0A;
            &.hidden {
              display: none;
            }
            .icon {
              margin: .4em;
            }
          }
          .main-container__content-items {
            display: flex;
            height: inherit;
            &.hidden {
              display: none;
            }
            .main-container__content-item {
              list-style: none;
              width: 20%;
              margin-right: 1em;
              border-radius: .2em;
              height: inherit;
              &:nth-last-child(1) {
                margin-right: 0;
              }
              .task-list__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.1em;
                background-color: #1976D2;
                border-radius: .2em .2em 0 0;
                color: #FFFFFF;
                width: 100%;
                .task-list__name {
                  text-transform: uppercase;
                  font-weight: bold;
                }
                img {
                  cursor: pointer;
                }
              }
              .task-list__items-wrapper {
                background-color: #DDDDDD;
                padding: 0;
                border-radius: 0 0 .2em .2em;
                max-height: calc(100% - 3.4em);
                height: inherit;
                display: flex;
                flex-direction: column;
                font-size: .9em;
                .task-list__items {
                  padding: 0.8em;
                  flex: 1;
                  overflow-y: auto;
                  /* Tamaño del scroll */
                  &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                  }
                  /* Estilos barra (thumb) de scroll */
                  &::-webkit-scrollbar-thumb {
                    background: #ccc;
                    border-radius: 4px;
                  }
                  &::-webkit-scrollbar-thumb:active {
                    background-color: #999;
                  }
                  &::-webkit-scrollbar-thumb:hover {
                    background: #b3b3b3;
                  }
                  /* Estilos track de scroll */
                  &::-webkit-scrollbar-track {
                    background: #e1e1e1;
                    border-radius: 4px;
                  }
                  &::-webkit-scrollbar-track:hover,
                  &::-webkit-scrollbar-track:active {
                    background: #d4d4d4;
                  }
                  .task-list__item {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    padding: .6em 1em;
                    margin-bottom: 0.8em;
                    background-color: #EEEEEE;
                    border-radius: .2em;
                    font-size: .9em;
                    box-shadow: 0 2px 0 rgba(0, 0, 0, .25);
                    cursor: pointer;
                    transition: background-color .5s ease-in;
                    will-change: background-color;
                    &.hidden {
                      display: none;
                    }
                    &:hover {
                      background-color: #CCCCCC;
                    }
                    &.task-list__item-task-done {
                      background-color: #4CAF50;
                      color: #FFFFFF;
                      box-shadow: 0 2px 0 #00701a;
                      font-weight: bold;

                      transition: background-color .5s ease-in;
                      will-change: background-color;
                      &:hover {
                        background-color: #43a047;
                      }
                    }
                    &:nth-last-child(1) {
                      margin-bottom: 0;
                    }
                  }
                }
                .task-list__item-add-new-task {
                  background-color: inherit;
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  padding: 0.8em;
                  &.hidden {
                    display: none;
                  }
                  #btn-open-modal-add-task {
                    display: flex;
                    align-items: center;
                    padding: .6em;
                    width: inherit;
                    color: #555555;
                    img {
                      margin-right: .6em;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes successMessage {
  0% {
    opacity: 0;
    top: -2em;
  }
  20% {
    opacity: 1;
    top: 2em;
  }
  80% {
    opacity: 1;
    top: 2em;
  }
  100% {
    opacity: 0;
    top: -2em;
  }
}