<div class="main-container-wrapper-su-s">
    <div class="main-container-su-s">
        <a ng-click="relocate('landing')" class="brand-logo">
            <img src="../../../images/Treban Logo x64.svg" alt="Treban Logo">
            <h1 class="bold">Treban</h1>
        </a>
        <div class="box">
            <div class="box-content">
                <div class="success-message-box">
                    <div class="success-icon-box">
                        <img src="../../../images/ic_check.svg" alt="Success icon" class="success-icon">
                    </div>
                    <span class="bold success-message">El usuario se registro correctamente</span>
                </div>
                <div class="buttons-box">
                    <a ng-click="relocate('signin')" class="btn btn-info">Ingresar</a>
                    <a ng-click="relocate('landing')" class="btn btn-info-inverse">Volver a inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-background"></div>