body {
  background-color: #DCDCDC;
}

.main-container-wrapper-si {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.main-container-wrapper-si .main-container-si {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 80%;
  width: 500px;
  z-index: 2;
}

.main-container-wrapper-si .main-container-si .brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 2.5em;
}

.main-container-wrapper-si .main-container-si .brand-logo h1 {
  font-size: 1.8em;
  padding: 0 .6em;
  margin: 0;
}

.main-container-wrapper-si .main-container-si .box {
  background-color: #FFFFFF;
  border-radius: .2em;
  padding: 2em 2.5em;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-container-wrapper-si .main-container-si .box .box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
  text-align: center;
}

.main-container-wrapper-si .main-container-si .box .box-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-wrapper-si .main-container-si .box .box-title a .icon-24 {
  width: 1.125em;
  cursor: pointer;
}

.main-container-wrapper-si .main-container-si .box .box-title p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2em;
}

.main-container-wrapper-si .main-container-si .box p {
  text-align: center;
}

.main-container-wrapper-si .main-container-si .box .box-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-wrapper-si .main-container-si .box .box-content .signin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container-wrapper-si .main-container-si .box .box-content .signin-form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  font-size: 1em;
  padding: .3em 0;
  margin-bottom: 1em;
}

.main-container-wrapper-si .main-container-si .box .box-content .signin-form p {
  font-size: 1em;
  padding: .3em 0;
  margin: 0;
  margin-bottom: 1em;
}

.main-container-wrapper-si .main-container-si .box .box-content .signin-form button {
  margin-top: 1em;
  padding: .5em 0;
}

.main-container-wrapper-si .main-container-si .box .box-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: .4em;
  padding: .5em 0;
  text-align: center;
}

.main-container-wrapper-si .main-container-si .box .box-content a.hidden {
  display: none;
}

.main-container-wrapper-si .main-container-si .box .box-content .error-message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F44336;
  width: 100%;
  margin-top: 1em;
  padding: .6em;
  padding-right: 1em;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: .2em;
}

.main-container-wrapper-si .main-container-si .box .box-content .error-message-box.hidden {
  display: none;
}

.main-container-wrapper-si .main-container-si .box .box-content .error-message-box .error-message {
  color: #FFFFFF;
  font-size: 1em;
}

.main-container-wrapper-si .main-container-si .box .box-content .error-message-box .close-error-message-icon {
  cursor: pointer;
  margin-left: 1em;
}

.bottom-background {
  background-color: #03A9F4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  z-index: 1;
}
/*# sourceMappingURL=signin.css.map */