<div class="main-container-l">
    <header>
        <div class="header-content-l">
            <a class="brand-logo">
                <img src="../../images/Treban Logo x32.svg" alt="Treban Logo">
                <h1 class="bold">Treban</h1>
            </a>
            <nav>
                <a ng-click="relocate('home')" id="btn-signin" class="btn btn-info">
                    Iniciar sesion
                </a>
            </nav>
        </div>
    </header>
    <main>
        <div class="left">
            <div class="landing-quotes">
                <h2 class="landing-main-quote">Gestiona tus proyectos de forma agil</h2>
                <span class="landing-secondary-quote">Utilizando metodologias como Scrum y Kanban</span>
            </div>
            <div class="cta">
                <a ng-click="relocate('signup')" id="btn-signup" class="btn btn-success">
                    Registrate <span class="bold">gratis</span>
                </a>
            </div>
        </div>
        <div class="right">
            <img src="../../images/Landing Page Main Image.svg" alt="Landing Main Image" class="landing-main-image">
        </div>
    </main>
    <footer>
        <p class="brand-footer">&copy; Treban 2019</p>
    </footer>
</div>