body {
    background-color: #DCDCDC;
}

.main-container-wrapper-su {
    display: flex;
    height: 100vh;

    .main-container-su {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 90%;
        width: 500px;
        z-index: 2;

        .brand-logo {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 2em;
    
            h1 {
                font-size: 1.8em;
                padding: 0 .6em;
                margin: 0;
            }
        }
    
        .box {
            background-color: #FFFFFF;
            border-radius: .2em;
            display: flex;
            width: 30vw;
            flex-direction: column;
            justify-content: space-between;
            padding: 2em 2.5em;
            flex: 1;
    
            .box-title {
                margin: 0 auto;
                text-align: center;
                width: 80%;

                p {
                    font-size: 1.2em;
                }
            }
    
            .box-content {
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .signup-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    input {
                        outline: none;
                        border: none;
                        font-size: 1em;
                        border-bottom: 1px solid #EEEEEE;
                        width: 80%;
                        padding: .3em 0;
                        margin-bottom: 1em;
                    }

                    button {
                        margin-top: 2em;
                        padding: .5em 0;
                        width: 80%;
                    }
                    
                }

                .error-message-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #F44336; 
                    width: 100%;
                    margin-top: 1em;
                    padding: .6em;
                    padding-right: 1em;
                    align-self: center;
                    border-radius: .2em;

                    &.hidden {
                        display: none;
                    }
                    
                    .error-message {
                        color: #FFFFFF;
                        font-size: 1em;
                    }

                    .close-error-message-icon {
                        cursor: pointer;
                        margin-left: 1em;
                    }
                }    
            }
        }    
    }
}

.bottom-background {
    background-color: #03A9F4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh;
    z-index: 1;
}