<div class="home-wrapper">
    <div class="overlay">
        <div id="modal-add-task-list" class="modal-box w-mc hidden">
            <div class="modal-header">
                <p class="modal-header__title bold">Agregar Lista</p>
                <img src="../images/ic_close.svg" class="close-modal-icon" alt="Close Modal" ng-click="closeModalAddTaskList()">
            </div>
            <form class="modal-form">
                <div class="modal-content flex-column">
                    <div class="error-message-box hidden">
                        <span class="error-message">None of the fields can be empty.</span>
                        <img src="../../images/ic_close_white.svg" alt="Close message" class="close-message-icon" ng-click="closeErrorMessageBox($event)">
                    </div>
                    <div class="modal-content-row flex-row">
                        <p class="mr-1">Nombre de sprint:</p>
                        <input type="text" placeholder="Primer sprint.." class="modal-add-task-list-element" ng-model="listsToCreate.sprintName" ng-change="closeErrorMessageBoxOnInputChange('#modal-add-task-list')" disabled>
                    </div>
                    <div class="modal-content-row flex-column">
                        <p>Seleccione las listas a agregar:</p>
                        <div class="task-list-items-wrapper">
                            <ul class="task-list-items">
                                <li class="task-list-item-box shape blue w-20 h-2"></li>
                                <li class="task-list-item-box shape blue w-30 h-2"></li>
                                <li class="task-list-item-box shape blue w-30 h-2"></li>
                                <li class="task-list-item-box shape blue w-30 h-2"></li>

                                <li class="task-list-item hidden" ng-repeat="list in taskLists | filter: { created: false }" ng-click="selectTaskListItem($event, list)">{{ list.name }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-content-row modal-content-special-row flex-row">
                        <span>Referencias:</span>
                        <div class="list-reference">
                            <div class="box-rounded list-not-selected"></div>
                            <span>Lista no seleccionada</span>
                        </div>
                        <div class="list-reference">
                            <div class="box-rounded list-selected"></div>
                            <span>Lista seleccionada</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-normal btn-cancel" ng-click="closeModalAddTaskList()">Cancelar</button>
                    <button id="btn-add-task-lists" class="btn btn-info btn-ok modal-add-task-list-element" ng-click="validateTaskListsData()" disabled>
                        <span class="bold">Agregar</span>
                        <i class="fas fa-spinner fa-spin hidden"></i>
                    </button>
                </div>
            </form>
        </div>
        <div id="modal-add-task" class="modal-box w-30 hidden">
            <div class="modal-header">
                <p class="modal-header__title bold">Crear tarea</p>
                <img src="../images/ic_close.svg" class="close-modal-icon" alt="Close Modal" ng-click="closeModalAddTask()">
            </div>
            <form class="modal-form">
                <div class="modal-content flex-column">
                    <div class="error-message-box hidden">
                        <span class="error-message">None of the fields can be empty.</span>
                        <img src="../../images/ic_close_white.svg" alt="Close message" class="close-message-icon" ng-click="closeErrorMessageBox($event)">
                    </div>
                    <div class="modal-content-row flex-column">
                        <p class="bold mb-1">Descripcion</p>
                        <textarea id="new-task" rows="2" placeholder="Ingrese la tarea a realizar..." ng-model="newTask.name" ng-change="closeErrorMessageBoxOnInputChange('#modal-add-task')"></textarea>
                    </div>
                    <div class="modal-content-row flex-row">
                        <p class="bold mr-1">Prioridad</p>
                        <select id="new_task_priority" ng-model="newTask.priority">
                            <option value="LOW">BAJA</option>
                            <option value="MEDIUM">MEDIA</option>
                            <option value="HIGH">ALTA</option>
                        </select>
                    </div>
                    <div class="modal-content-row flex-row">
                        <p class="bold mr-1">Estimacion</p>
                        <div id="new_task-estimation-content">
                            <input type="number" min="1" max="10" id="new_task_estimation" placeholder="5" ng-model="newTask.estimation" ng-change="closeErrorMessageBoxOnInputChange('#modal-add-task')">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-normal btn-cancel" ng-click="closeModalAddTask()">Cancelar</button>
                    <button id="btn-add-task" class="btn btn-info btn-ok" ng-click="validateTaskData()">
                        <span class="bold">Crear</span>
                        <i class="fas fa-spinner fa-spin hidden"></i>
                    </button>
                </div>
            </form>
        </div>
        <div id="modal-task-detail" class="modal-box w-45 hidden">
            <div class="modal-header">
                <div class="modal-content-column-item-box shape gray w-30 h-1 br-05"></div>
                <p class="modal-content-column-item-element modal-header__title bold hidden">{{ currentTaskDetail.name }}</p>
                <img src="../../images/ic_close.svg" class="close-modal-icon" alt="Close Modal" ng-click="closeModalTaskDetail()">
            </div>
            <form class="modal-form">
                <div class="modal-content flex-column">
                    <div class="error-message-box hidden">
                        <span class="error-message">None of the fields can be empty.</span>
                        <img src="../../images/ic_close_white.svg" alt="Close message" class="close-message-icon" ng-click="closeErrorMessageBox($event)">
                    </div>
                    <div class="flex-row">
                        <div class="modal-content__column flex-1 mr-1">
                            <div class="modal-content__column-item">
                                <label for="task_status" class="bold">Estado</label>
                                <div class="modal-content-column-item-box shape gray w-60 h-1 br-05"></div>

                                <div class="modal-content-column-item-element flex-row hidden">
                                    <div class="modal-content-column-item-element-value flex-row m-0 w-100">
                                        <p class="mr-1">{{ currentTaskDetail.status.name }}</p>
                                        <button class="btn btn-orange-inverse" title="Editar" ng-click="editTaskDetail($event)" ng-if="currentTaskDetail.status.name !== lists[4].name">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </div>

                                    <div class="modal-content-column-item-element-edit flex-row m-0 w-100 hidden">
                                        <select id="task_status" class="mr-1" ng-model="currentTaskStatusEditedOption" ng-change="updateCurrentTaskEditionChangedVariable(); closeErrorMessageBoxOnInputChange('#modal-task-detail');">
                                            <option value="SELECCIONAR" selected>SELECCIONAR</option>
                                            <option ng-repeat="list in lists | filter: shouldShowList" ng-value="list.name">{{ list.name }}</option>
                                        </select>
                                        <div class="row-buttons active">
                                            <button class="btn btn-normal" ng-click="finishEditingTaskDetail($event, 'currentTaskStatusEditedOption')">
                                                <img src="../../images/ic_close.svg" alt="Cancel profile changes">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-content__column-item">
                                <label class="bold">Prioridad</label>
                                <div class="modal-content-column-item-box shape gray w-60 h-1 br-05"></div>

                                <div class="modal-content-column-item-element flex-row hidden">
                                    <div class="modal-content-column-item-element-value flex-row m-0 w-100">
                                        <p class="mr-1">{{ currentTaskDetail.priority | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-content__column-item">
                                <label class="bold">Estimacion</label>
                                <div class="modal-content-column-item-box shape gray w-60 h-1 br-05"></div>

                                <div class="modal-content-column-item-element flex-row hidden">
                                    <div class="modal-content-column-item-element-value flex-row m-0 w-100">
                                        <p class="mr-1">{{ currentTaskDetail.estimation }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-content__column flex-2 pos-relative">
                            <div class="modal-content__column-item">
                                <label class="bold">Fecha de creacion</label>
                                <div class="modal-content-column-item-box shape gray h-1 br-05"></div>
                                <span id="task_creation_date" class="modal-content-column-item-element hidden">{{ currentTaskDetail.createdAt }}</span>
                            </div>
                            <div class="modal-content__column-item">
                                <label class="bold">Ultima actualizacion</label>
                                <div class="modal-content-column-item-box shape gray h-1 br-05"></div>
                                <span id="task_last_updated_time" class="modal-content-column-item-element hidden">{{ currentTaskDetail.lastModified }}</span>
                            </div>
                            <div class="modal-content__column-item w-100">
                                <button id="btn-open-modal-delete-task" class="btn btn-error w-inherit pos-absolute bottom-0" ng-click="openModalTaskDeleteQuestion()" disabled>
                                    <i class="far fa-trash-alt"></i>
                                    <span class="bold">Eliminar tarea</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-normal btn-cancel" ng-click="closeModalTaskDetail()">Cancelar</button>
                    <button id="btn-edit-task" class="btn btn-info btn-ok" ng-click="validateEditionCurrentTaskData()" ng-disabled="currentTaskDetailEditionObjectDidntChange || currentTaskDetail.status.name === lists[4].name">
                        <span class="bold">Guardar</span>
                        <i class="fas fa-spinner fa-spin hidden"></i>
                    </button>
                </div>
            </form>
        </div>
        <div id="modal-task-delete-question" class="modal-box w-30 hidden">
            <div class="modal-header">
                <p class="modal-header__title bold">Eliminar tarea</p>
                <img src="../../images/ic_close.svg" class="close-modal-icon" alt="Close Modal" ng-click="closeModalTaskDeleteQuestion()">
            </div>
            <form class="modal-form">
                <div class="modal-content flex-column">
                    <div class="modal-content-row flex-row">
                        <p>¿Estas seguro de eliminar la tarea?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-normal btn-cancel" ng-click="closeModalTaskDeleteQuestion()">Cancelar</button>
                    <button id="btn-delete-task" class="btn btn-error btn-ok" ng-click="validateTaskDeletion(currentTaskDetail.id)">
                        <span class="bold">Eliminar</span>
                        <i class="fas fa-spinner fa-spin hidden"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <nav class="left-menu-home">
        <div class="left-menu-container left-menu-container-opened active">
            <div class="left-menu__top-content">
                <div class="brand-logo">
                    <a ng-click="relocate('home')">
                        <img src="../../images/Treban Logo x32.svg" alt="Treban Logo">
                        <h1 class="bold">Treban</h1>
                    </a>
                </div>
                <div class="left-menu-vertical-space"></div>
                <div class="left-menu__items-wrapper">
                    <ul class="left-menu__items">
                        <li class="left-menu__item">
                            <p class="left-menu__item-header bold">Ordenar listas</p>
                            <div class="select-box shape gray w-100 h-2"></div>

                            <div class="select-input flex-row hidden">
                                <select ng-disabled="noListsCreated" ng-model="orderByFieldParam" ng-change="getUpdatedTasksOrdered()">
                                    <option value="created_at">Fecha de creacion</option>
                                    <option value="priority">Prioridad</option>
                                </select>
                                <i class="fas fa-arrow-up lists-order-criteria-input" title="Orden ascendente" ng-disabled="noListsCreated" ng-click="setOrderByCriteriaParam($event); getUpdatedTasksOrdered();"></i>
                                <i class="fas fa-arrow-down lists-order-criteria-input hidden" title="Orden descendente" ng-disabled="noListsCreated" ng-click="setOrderByCriteriaParam($event); getUpdatedTasksOrdered();"></i>
                            </div>
                        </li>
                        <li class="left-menu__item">
                            <p class="left-menu__item-header bold">Ver lista</p>
                            <div class="select-box shape gray w-100 h-2"></div>

                            <select class="select-input hidden" ng-disabled="noListsCreated" ng-model="listShowed">
                                <option value="TODAS" selected>TODAS</option>
                                <option ng-repeat="list in taskLists | filter: { created: true } " ng-value="list.name">{{ list.name }}</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu__bottom-content">
                <button id="btn-username" class="btn btn-normal-inverse" ng-click="openUserMenu($event)" stop-event>
                    <span id="btn-username-text">ig</span>
                </button>
                <div class="user-menu hidden">
                    <ul class="user-menu__items">
                        <li class="user-menu__item user-menu__item-header">
                            <span class="bold" id="user-username">Ivan Gabriel Guerra</span>
                            <span id="user-email">iguerra696@alumnos.iua.edu.ar</span>
                        </li>
                        <li class="user-menu__item" ng-click="relocate('user/profile')">
                            <a id="btn-profile"><span>Perfil</span></a>
                        </li>
                        <li class="user-menu__item" ng-click="relocate()">
                            <a id="btn-close-session"><span>Cerrar sesion</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main class="main-container-home-wrapper">
        <div class="main-container">
            <div class="main-container__header">
                <div class="btn main-container__header-item-box shape green w-10 h-25"></div>
                <button id="btn-open-modal-add-task-list" class="btn btn-success main-container__header-item hidden" ng-click="openModalAddTaskList()" title="{{ setElementTitleAttrBasedOnClass('#btn-open-modal-add-task-list', 'disabled', 'No es posible crear nuevas listas. Todas las listas de tareas permitidas fueron creadas.') }}">
                    <span class="bold">Agregar lista</span>
                    <img src="../images/ic_add.svg" alt="Add new task list">
                </button>
                <div class="success-message-box hidden">
                    <span class="success-message"></span>
                </div>
            </div>
            <div class="main-container__content">
                <div class="main-container__content-items-wrapper">
                    <div class="no-lists-created hidden">
                        <i class="far fa-frown fa-2x icon"></i>
                        <span>Aún no se han creado listas.</span>
                    </div>
                    <ul class="main-container__content-items">
                        <li class="main-container__content-item-box">
                            <div class="task-list__header-box">
                                <div class="shape gray w-60 h-1 br-02"></div>
                            </div>
                            <div class="task-list__items-wrapper">
                                <ul class="task-list__items">
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="main-container__content-item-box">
                            <div class="task-list__header-box">
                                <div class="shape gray w-60 h-1 br-02"></div>
                            </div>
                            <div class="task-list__items-wrapper">
                                <ul class="task-list__items">
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="main-container__content-item-box">
                            <div class="task-list__header-box">
                                <div class="shape gray w-60 h-1 br-02"></div>
                            </div>
                            <div class="task-list__items-wrapper">
                                <ul class="task-list__items">
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                    <li class="task-list__item-box shape gray"></li>
                                </ul>
                            </div>
                        </li>

                        <li class="main-container__content-item hidden" ng-repeat="list in taskLists | filter: { created: true }" ng-show="shouldTaskListBeShowed(list.name)">
                            <div class="task-list__header">
                                <p class="task-list__name">{{ list.name }}</p>
                                <img src="../../images/ic_expand_more.svg" alt="Expand/Shrink Task List" ng-click="toggleCollapseTaskList(list, $event)">
                            </div>
                            <div class="task-list__items-wrapper">
                                <ul class="task-list__items">
                                    <li ng-repeat="task in tasks | filter: { status: { name: list.name } }" class="task-list__item" ng-class="{ 'task-list__item-task-done': list.name === lists[4].name }" ng-click="openModalTaskDetail(task.id)">{{ task.name }}</li>
                                </ul>
                                <div class="task-list__item-add-new-task task-list__item" ng-if="list.name === lists[0].name">
                                    <button id="btn-open-modal-add-task" class="btn btn-gray-dark" ng-click="openModalAddTask()">
                                        <img src="../../images/ic_add_black_lighter.svg" alt="Add New Task">
                                        <span>Crear tarea</span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>