<div class="profile-wrapper">
    <nav class="left-menu">
        <div class="left-menu-container">
            <div class="left-menu__top-content">
                <div class="brand-logo">
                    <img src="../../images/Treban Logo x32.svg" alt="Treban Logo">
                    <h1 class="bold">Cuenta de Treban</h1>
                </div>
                <div class="left-menu__items-wrapper">
                    <ul class="left-menu__items">
                        <li class="left-menu__item active">
                            <a>Perfil</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu__bottom-content">
                <a ng-click="relocate('home')">
                    <img src="../../images/ic_chevron_left.svg" alt="Return icon">
                    <span class="bold">Volver al inicio</span>
                </a>
            </div>
        </div>
    </nav>
    <main class="main-container-wrapper">
        <div class="main-container">
            <div class="main-container__header">
                <p class="main-container__header-primary-text bold">Perfil</p>
            </div>
            <div class="main-container__content">
                <div id="profile_personal_info" class="main-container__content-item active">
                    <div class="main-container__content-item-row">
                        <label for="profile-user-name" class="input-label">Nombre completo</label>
                        <p id="profile-user-name" class="bold">{{ currentUser.name }}
                    </div>
                    <div class="main-container__content-item-row">
                        <label for="profile-user-email" class="input-label">Correo Electronico</label>
                        <p id="profile-user-email" class="bold">{{ currentUser.email }}
                    </div>
                    <div class="main-container__content-item-row">
                        <label for="profile-user-username" class="input-label">Usuario</label>
                        <p id="profile-user-username" class="bold">{{ currentUser.username }}
                    </div>
                    <div class="main-container__content-item-row">
                        <label for="profile-user-role" class="input-label">Rol</label>
                        <p id="profile-user-role" class="bold">{{ currentUser.roles[0] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>