.main-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.main-container-wrapper .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 100%;
  width: 500px;
  z-index: 2;
}

.main-container-wrapper .main-container .brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 2.5em;
}

.main-container-wrapper .main-container .brand-logo h1 {
  font-size: 1.8em;
  padding: 0 .6em;
  margin: 0;
}

.main-container-wrapper .main-container .box-transparent {
  border-radius: .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2em 2.5em;
  height: 50%;
}

.main-container-wrapper .main-container .box-transparent .success-message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3em;
}

.main-container-wrapper .main-container .box-transparent .success-message-box .success-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #66BB6A;
  margin-bottom: 1em;
}

.main-container-wrapper .main-container .box-transparent .success-message-box .success-icon-box .success-icon {
  width: 2.5em;
}

.main-container-wrapper .main-container .box-transparent .buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container-wrapper .main-container .box-transparent .buttons-box a {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: .4em;
  padding: .5em 0;
  text-align: center;
}

.bottom-background {
  background-color: #03A9F4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  z-index: 1;
}
/*# sourceMappingURL=logout.css.map */