@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
    --radius: 2px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    border-radius: .2em;
}

.btn-normal {
    background-color: #EEEEEE;
    color: #000000;
    transition: background-color .5s ease-in;
    will-change: background-color;

    &:hover {
        background-color: #D8D8D8;
    }
}

.btn-normal-inverse {
    background-color: #000000;
    color: #EEEEEE;
}

.btn-gray {
    background-color: #BBBBBB;
    color: #000000;
}

.btn-gray-dark {
    background-color: #DDDDDD;
    color: #000000;
    transition: background-color .3s ease-in;
    will-change: background-color;

    &:hover {
        background-color: #BBBBBB;
    }
}

.btn-info {
    background-color: #1976D2;
    transition: background-color .5s ease-in;
    will-change: background-color;

    &:hover {
        background-color: #1565c0;
    }
}

.btn-info-inverse {
    background-color: #FFFFFF;
    color: #1976D2;
    transition: background-color .5s ease-in;
    will-change: background-color;

    &:hover {
        background-color: #EEEEEE;
    }
}

.btn-success {
    background-color: #4CAF50;
    transition: background-color .5s ease-in;
    will-change: background-color;

    &:hover {
        background-color: #43a047;
    }
}

select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: .5em;
    font-size: .8em;
    font-family: inherit;
    background-color: #EEEEEE;
    background-image: linear-gradient(#EEEEEE, #EEEEEE),
    linear-gradient(-135deg, transparent 50%, #EEEEEE 50%),
    linear-gradient(-225deg, transparent 50%, #EEEEEE 50%),
    linear-gradient(#EEEEEE 42%, #000000 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 30px 22px, 30px 22px, 30px 100%;
    background-position: right 30px center, right bottom, right bottom, right bottom;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
    align-items: center;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    font-size: 1em;
    padding: .3em 0;
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}