<div class="main-container-wrapper">
    <div class="main-container">
        <a ng-click="relocate('')" class="brand-logo">
            <img src="../../images/Treban Logo x64.svg" alt="Treban Logo">
            <h1 class="bold">Treban</h1>
        </a>
        <div class="box-transparent">
            <div class="success-message-box">
                <div class="success-icon-box">
                    <img src="../../images/ic_check.svg" alt="Success icon" class="success-icon">
                </div>
                <span class="bold success-message">La sesion se cerro correctamente</span>
            </div>
            <div class="buttons-box">
                <a ng-click="relocate('')" class="btn btn-info">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>
<div class="bottom-background"></div>